<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github.nowsoar.questionnaire.mapper.QuestionnaireIpMapper">

    <select id="findByQuestionnaireIdAndIp" resultType="int">
        select count(*) from questionnaire_ip
        where questionnaire_id = #{questionnaireId} and ip = #{ip}
    </select>
</mapper>