<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github.nowsoar.questionnaire.mapper.QuestionnaireMapper">

    <select id="findAllByUsername" resultType="Questionnaire">
        select * from questionnaire where username = #{username}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="questionnaireId" keyColumn="questionnaire_id" parameterType="Questionnaire">
        insert into questionnaire
        (create_time, description, status, title, username)
        values(#{createTime}, #{description}, #{status}, #{title}, #{username})
    </insert>

    <select id="findByQuestionnaireId" resultType="Questionnaire">
        select * from questionnaire where questionnaire_id = #{questionnaireId}
    </select>

    <update id="update" parameterType="Questionnaire">
        update questionnaire set
        description = #{description}, title = #{title}
        where questionnaire_id = #{questionnaireId}
    </update>

    <update id="save" parameterType="Questionnaire">
        update questionnaire set
        description = #{description}, title = #{title}, status = #{status}, fill_count = #{fillCount}
        where questionnaire_id = #{questionnaireId}
    </update>
</mapper>